# CODEOWNERS: https://help.github.com/articles/about-codeowners/

# Primary repo maintainers
*       @aljo242 @lubtd @fadeev @jeronimoalbi @tbruyelle @Pantani

# Docs
*.md    @aljo242 @lubtd @fadeev @jeronimoalbi @tbruyelle